.add_journey {
    height: 100vh;
}

/* .journey-form{
    display: flex;
    flex-direction: column;
    height: 200px;
}     */

.user_inputs {
    display: flex;
    flex-direction: column;
    height: 45vh;
}

.the_dialog {
    background: rgb(18, 18, 18);
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.hide_the_dialog {
    display: none;
}